.typebot-container {
    background: #000;
}
  
  .typebot-chat-view {
    padding-top: 5.5rem;;
    padding-bottom: 1rem;
  }
  
  .typebot-input {
    position: fixed;
    bottom: 2rem;
    margin-inline: auto;
    left: 0;
    right: 0;  
    max-width: 800px !important;  
  }
  
  .typebot-input.custom-input {
    border-radius: 100vw;
    padding: 0;
    opacity: 1;
  }
  
  .typebot-input.custom-input input {
    padding: 0 0 0 1rem !important;
  }
  
  .typebot-input > div {
    width: 100%;
  }
  
  .user-metadata {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;    
      color: white;
      margin-block: 1.5rem;
  }
  
  .user-metadata img {
      background-color: black;
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;    
      background: linear-gradient(black, black) padding-box,
          linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7) border-box;    
      border: 3px solid transparent;
      padding: 1px;
      margin-inline: auto;
  }
  
  .user-metadata a {
      text-decoration: none;
      background-color: #262626;
      padding: .25rem .75rem;
      display: inline-block;
      margin-top: 10px;
      color: #ddd;
      border-radius: 2px;
  }
  
  .primary-info .name {
      font-weight: bold;
  }
  
  .secondary-info {
      opacity: .7;
  }
  
  
  .message-input {
      display: flex;
      padding: 6px 8px;
      border-radius: 100vw;
      border: 2px dashed #707070;
      justify-content: center;
      max-width: 100%;
      width: 100%;
      margin-inline: auto;
      /* position: fixed; */
      bottom: 1rem;
      left: 0;
      right: 0;
      z-index: 9999;
      background: black;
      align-items: center;
  }
  
  .message-input .cam {
      border-radius: 50%;
      background-color: #0099fd;
      display: grid;
      place-content: center;
      aspect-ratio: 1;
      width: 50px;
  }
  
  
  
  .message-input > * {
      display: flex;
  }
  
  .message-input .input, 
  .message-input input {
      width: 100%;
      border: 0;
      padding-left: .35rem;
      color: white;
      font-weight: bold;
      font-size: 17px;
      background: transparent;
  }
  
  .message-input .icons > * {
      width: 40px;
      display: grid;
      place-content: center;
  
  }

  .hide {
    display: none!important;
    }
    typebot-standard {
    position: relative;
    z-index: 99;
    }
    #__next {
    position: relative;
    z-index: 99;
    }
    /* User Bar */
    .user-bar {
    width: 100%;
    height: 100px;
    background: #121212;
    color: #fff;
    padding: 0;
    font-size: 25px;
    position: absolute;
    z-index: 99999;
    display: block;
    top: 0;
    }
    
    .user-bar:after {
    content: "";
    display: table;
    clear: both;
    }
    
    .user-bar div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    margin-left: 10px;
    }
    
    .user-bar .actions {
    float: right;
    margin: 0 0 0 20px;
    }
    
    .user-bar .actions.more {
        margin: 0 0 10px 32px;
    }
    
/* Media query para telas menores, por exemplo, abaixo de 768px */
/* @media (max-width: 768px) {
    .user-bar .actions.more {
        margin: 0 0 1px 1%;
    }
} */
    
    
    
    .user-bar .actions.attachment {
    margin: 0 0 0 20px;
    }
    
    .user-bar .actions.attachment i {
    display: block;
    transform: rotate(-45deg);
    }
    
    .user-bar .avatar {
    margin: 0 0 0 5px;
    background-color: black;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: linear-gradient(black, black) padding-box, linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7) border-box;
    border: 3px solid transparent;
    padding: 1px;
    }
    
    .user-bar .avatar img {
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    .user-bar .name {
    float: left;
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    }
    
    .user-bar .status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    }
    
    /* Estilo da caixa do input */
    .typebot-input {
    max-width: 100%!important;
    width:100%!important;
    position: fixed;
    bottom: 0;
    align-items: center;
    z-index: 999;
    right: 0;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 1 2px 1px -1px rgba(0,0,0,.2);
    height: 50px;
    padding-right: 0px!important;
    }
    
    
    /* Corrigir cor do botÃ£o */
    .disabled\:opacity-50:disabled {
    opacity: 100%;
    }